{% extends 'base.html' %}
{% block content %}
<h1>Tendang Store</h1>

<h2>Sekali Tendang, Langsung Menang!</h2>

<h3>Nama: {{ name }} </h3>
<h3>Kelas: {{ kelas }} </h3>

<a href="{% url 'main:create_product' %}">
    <button>+ Add Product</button>
</a>

<hr>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<hr>

<a href="?filter=all">
    <button type="button">All Products</button>
</a>
<a href="?filter=my">
    <button type="button">My Products</button>
</a> 

{% if not product_list %}
<p>Belum ada data produk pada toko tendang store.</p>
{% else %}

{% for product in product_list %}
<div>
    <h2><a href="{% url 'main:show_product_by_id' product.id %}">{{ product.name }}</a></h2>

    <h1>{{ product.name }}</h1>
    <p><b>{{ product.brand }}</b>{% if product.is_featured %} |
        <b>Featured</b>{% endif %}
        | {{ product.category }}
        | Stock: {{ product.stock }}
        | Seller: {{ product.user.username }}
    </p>


    {% if product.thumbnail %}
    <img src="{{ product.thumbnail }}" alt="Product thumbnail" width="300">
    <br /><br />
    {% endif %}

    <p>{{ product.description }}</p>

    <p><a href="{% url 'main:show_product_by_id' product.id %}"><button>Liat Detail Produk</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}


{% endblock %}